# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
3dfier
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
boo.xcodeproj

# Visual studio files
vs_build/.vs
*.VC.opendb
*.VC.db
*.exe
*.ilk
*.pdb
*.vcxproj.user
*.lib

# Visual studio code files
/.vscode/

# Folders
x64
x86
vendor
_site
.sass-cache
/resources/convert-to-simulation/simulatorready
/resources/convert-to-simulation/out.off
/resources/convert-to-simulation/bin/
/ressources/convert-to-simulation/simulatorready
/resources/3dfier2sim/build
/ressources/convert-to-simulation/bin/
/example_data/o.json
/buildxcode
/build/
